<app-secondary title="configuración" backText=""></app-secondary>

<ion-content color="light">
  <ion-list>
    <ion-item detail="true" routerLink="/profile">Mi perfil</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <strong>Notificaciones (Push notifications)</strong>
    </ion-list-header>
    <ion-item>
      <ion-label>Productos nuevos</ion-label>
      <ion-toggle checked disabled="true" color="primary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Noticias y eventos comunitarios</ion-label>
      <ion-toggle checked disabled="true" color="primary"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <strong>Opciones de cuenta</strong>
    </ion-list-header>
    <ion-item detail="true" (click)="logout()">Cerrar sesión</ion-item>
  </ion-list>
</ion-content>