<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title  class="ion-text-capitalize">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>