<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title  class="ion-text-capitalize">menú principal</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="load()">
        <ion-icon slot="icon-only" name="reload"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5 class="ion-padding">
    Lista de pedidos
  </h5>
  <ion-grid>
      <ng-container *ngFor="let myOrder of myOrders">
        <ion-card>
              <ion-row>
                <ion-col col-6><b>Nº pedido:</b></ion-col>
                <ion-col col-4>{{myOrder.codigo}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6><b>Monto compra:</b></ion-col>
                <ion-col col-3>{{myOrder.montoTotal | currency:"₡"}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6><b>Estado:</b></ion-col>
                <ion-col col-6>{{myOrder.status}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6><b>Forma pago:</b></ion-col>
                <ion-col col-6>{{myOrder.forma_pago}}</ion-col>
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <ion-button (click)="detail(myOrder)">
                  <ion-icon name="basket"></ion-icon>
                  Ver detalle
                </ion-button>
              </ion-row>
            </ion-card>
            <hr>
      </ng-container>
  </ion-grid>
  <ion-card color="danger" outline *ngIf="isEmpty">
    <ion-card-content>
      <ion-icon name="alert-circle"></ion-icon> No has realizado ningún pedido
    </ion-card-content>
  </ion-card>
</ion-content>
