<app-secondary title="Detalle" backText=""></app-secondary>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="makeACall()">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="sendMessage()" color="success" style="margin-top:20%;">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-grid class="ion-padding">
    <h5>
      Información de compra
    </h5>
    <ion-row>
      <ion-col>Código:</ion-col>
      <ion-col>{{order.codigo}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Fecha creación:</ion-col>
      <ion-col>{{order.created_at | date:'MM/dd/yyyy'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Estado:</ion-col>
      <ion-col>{{order.status}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Forma de pago:</ion-col>
      <ion-col>{{order.forma_pago}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Cliente:</ion-col>
      <ion-col>{{order.client_name}} {{order.client_lastName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Monto total:</ion-col>
      <ion-col>{{order.montoTotal | currency:"₡"}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-padding">
    <h6>
      Acciones de pedido
    </h6>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="deliveryRoute()" class="ion-text-center" >
          <ion-icon name="navigate"></ion-icon> Destino
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="notifyArrival(order.client_id)" class="ion-text-center">
          <ion-icon name="pin"></ion-icon> Llegada
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="finishOrder()" class="ion-text-center">
          <ion-icon name="checkmark"></ion-icon> Finalizar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-padding">
    <h6>
      Lista de productos comprados
    </h6>
    <ion-list class="ion-no-padding">
      <ion-item class="ion-no-padding" *ngFor="let product of productList">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-thumbnail>
                <img src="https://www.urbidcr.com/img/product_images/{{product.product_image}}"/>
              </ion-thumbnail>
            </ion-col>
            <ion-col size="9">
              <ion-label>
                <h3>{{product.product_name}}</h3>
                <h3>Cantidad: {{product.product_quantity}}</h3>
              </ion-label>
              <ion-label>
                Precio x und: {{product.product_cost | currency:"₡"}}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
<ion-footer ion-no-border>
  <ion-button color="danger"  expand="full" (click)="presentAlertConfirm(order.codigo,order.client_id)">Cancelar compra</ion-button>
</ion-footer>
