<app-secondary title="puntos adquiridos" backText=""></app-secondary>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label position="stacked">Puntos ganados:</ion-label>
        <ion-input type="number" [(ngModel)]="points"></ion-input>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer ion-no-border>
  <ion-button color="success"  expand="full" (click)="finishDelivery()">Finalizar entrega</ion-button>
</ion-footer>
