<ion-menu side="start" menuId="mainMenu" contentId="main">
  <ion-header color="primary">
    <ion-toolbar color="primary">
      <ion-item color="primary" lines="none" class="ion-justify-content-center">
        <ion-avatar>
          <img *ngIf="showDefault" src="/assets/undefined.jpg"/>
          <img *ngIf="!showDefault" src="https://www.urbidcr.com/img/client_images_2304UIC/{{localDataService.user.picture}}"/>
        </ion-avatar>
        <ion-label class="ion-padding" *ngIf="localDataService.user"><strong>{{localDataService.user.delivery_person_name}} {{localDataService.user.delivery_person_lastName}}</strong></ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-no-padding">
    <ion-list>
      <ion-menu-toggle>
        <ion-item *ngFor="let link of linkList | async" [routerLink]="link.redirectTo">
          <ion-icon slot="start" [name]="link.icon"></ion-icon>
          <ion-label>{{link.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer class="ion-padding">
    Servicio al cliente: 2275-0553
  </ion-footer>
</ion-menu>