<ion-content *ngIf="!isLoaded" [fullscreen]="true" class="ion-padding" color="primary">
  <h1 class="container">Bienvenido...</h1>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="isLoaded" class="ion-padding">
  <div id="container" class="ion-padding">
    <ion-img src="/assets/logo.png" class="logo"></ion-img>
    <h4 style="margin-top: 18%;">¿Cuál es tu número de teléfono?</h4>
    <ion-item>
      <ion-label class="ion-no-margin" style="background-color:#e4e5e8;padding:1%;">+506</ion-label>
      <ion-input type="number" [(ngModel)]="phoneNumber" placeholder="Ingrese tu número de teléfono"></ion-input>
    </ion-item>
    <ion-item class="ion-no-border" lines="none"> 
      <ion-checkbox [(ngModel)]="termsConditions.checked" color="primary"></ion-checkbox>
      <small class="ion-padding-text-start-small">Acepta los <a href="https://www.urbidcr.com/terminos-condiciones">Términos y Condiciones</a></small>
    </ion-item>
    <ion-button expand="full" disabled="{{!termsConditions.checked}}" (click)="getLogin(phoneNumber,'T')" >Siguiente</ion-button>
  </div>
</ion-content>



