.container{
  background-color:var(--ion-color-primary);
  color:#ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo{
  width: 45%;
  height: 100%;
  margin: auto;
  display: block;
}

ion-item-divider{
  align-items: center;
}

ion-checkbox{
  --border-radius:100%;
}
